<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">


        <title>Youtube Playlist Analyser</title>
        <link rel="icon" href="https://i.imgur.com/YS6F9Vf.jpeg">
    </head>

    <body>
        <header class="site-header">
            <nav class="navbar navbar-expand-md navbar-dark bg-light fixed-top">
                <div class="container">
                    <a class="navbar-brand mr-4" href="https://ytanalyser.up.railway.app/"><img src="https://i.imgur.com/njh20q7.png" height="60"  alt="logo"></a>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="https://github.com/805karansaini/youtube_playlist_analyser">
                                <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60 fill="currentColor" class="bi bi-github" viewBox="0 0 30 30">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        
        <pre>

        </pre>
        <div class="container">
            <hr class="my-4">
            <div class="container">
                <form method="POST">
                    <label> Find the length of any YouTube playlist : </label>
                    <pre></pre>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="youtube.com/playlist?list=ID" name="search_string">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Get Length</button>
                        </div>
                    </div>
                    <small id="emailHelp" class="form-text text-muted">
                    	Please enter a playlist link, playlist ID or a video link from the playlist!
                    </small>
                </form>
            </div>
            <hr class="my-4">
            {% if display_text %}
            <div class="container">
                {% for x in display_text %}
                <p>{{x | safe}}</p>
                {% endfor %}
            </div>
            {% endif %}
        </div>

        <footer id="sticky-footer" class="py-1 bg-dark text-white-50">
            <div class="footer-copyright text-center py-3">
                <font color="white">  
                    Made with ❤ by <a href="https://github.com/805karansaini/"> Karan Saini</a>
                </font>
            </div>
            <div class="container text-center text-white">
              <a href="https://github.com/805karansaini" target="_blank">Github | </a>
              <a href="https://www.linkedin.com/in/805karansaini/" target="_blank">Linkedin | </a>
              <a href="https://github.com/805karansaini/youtube_playlist_analyser" target="_blank">Source Code Link</a>
            </div>
        </footer>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body>
</html>
